extends layouts

block content 
  video(src="/" + video.fileUrl, controls)
  p=video.description
  small=video.createdAt
  small This video uploaded by #{owner.name}
  hr
  if String(video.owner) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;